.meeting-icon , .active-meeting-icon{
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 360px;
    z-index: 999999;
    border-top-left-radius: 10px;
    right: 0;
    background-color: rgb(44 44 100 / 81%);
    padding: 20px;
    cursor: pointer;

}



.meeting-icon{
  display: none;

}

.active-meeting-icon{
  display: block;
}






  @media (max-width:767px) {

    .meeting-icon , .active-meeting-icon{
        border-bottom-left-radius: 10px;
        position: fixed;
        top: 190px;
        z-index: 999999;
        border-top-left-radius: 10px;
        right: 0;
        background-color: rgb(44, 44, 100);
        padding: 10px;
        cursor: pointer;
    }

    
  }
